test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.test
!.env.example

# Ficheros de texto para el desarrollo
betterauth
bundle.txt

# Vite
vite.config.js.timestamp-*

# Resultados de tests
playwright-report

# Fichero de configuración de producción
ecosystem.config.cjs